.weatherWrapper {
    display: grid;

    grid-template: 'currenyWeather nextDayWeather nextDayWeather nextDayWeather nextDayWeather';


    /*    background: #898585;*/
    color: white;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.configWindow {
    position: absolute;
    top: 5px;
    z-index: 1000;
    background: black;
    width: 500px;
    height: 350px;
}

.currentWeather {
    grid-area: currenyWeather;

    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 20px;

    /*    display: grid;*/
    /*    justify-items: center;*/
    /*    grid-template: 'temperature temperature weatherConditions'*/
    /*        'feelsLike feelsLike weatherConditions'*/
    /*        'tempMin tempMax weatherConditions'*/
    /*        'humidity humidity weatherConditions';*/

    .generalData {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .temperature {
            grid-area: temperature;
            font-size: 50px;
        }

        .temperatureFeals {
            grid-area: feelsLike;
        }

        .temMinMax {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .tempMin {
                grid-area: tempMin;
            }

            .tempMax {
                grid-area: tempMax;
            }
        }

        .humidity {
            grid-area: humidity;
        }
    }


    .weatherConditions {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        img {
/*            width: 128px;*/
/*            height: 0px;*/
/*            object-fit: none*/
        }
    }
}


