.weatherWrapper {
    display: grid;

    grid-template: 'currenyWeather nextDayWeather nextDayWeather nextDayWeather nextDayWeather';


    background: #898585;
    color: white;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.configWindow {
    position: absolute;
    top: 5px;
    z-index: 1000;
    background: black;
    width: 500px;
    height: 350px;
}

.currentWeather {
    grid-area: currenyWeather;

    display: grid;
    justify-items: center;
    grid-template: 'temperature temperature weatherConditions'
        'feelsLike feelsLike weatherConditions'
        'tempMin tempMax weatherConditions'
        'humidity humidity weatherConditions';

    .temperature {
        grid-area: temperature;
        font-size: 50px;
    }

    .temperatureFeals {
        grid-area: feelsLike;
    }

    .tempMin {
        grid-area: tempMin;
    }

    .tempMax {
        grid-area: tempMax;
    }

    .humidity {
        grid-area: humidity;
    }

    .weatherConditions {
        grid-area: weatherConditions;

        display: grid;
        justify-items: center;
        align-items: center;

        img {
            width: 70px;
            height: 70px;
            object-fit: none
        }
    }
}


